
.Home {
  background: #f244721c url("/assets/images/bg.svg") no-repeat center center /
    cover;
  /* height: 100vh; */
  padding: 10px;
  padding-top: 100px;
}

.Landing-Image {
  margin-bottom: 50px;
  width: auto;
  height: auto;
  /* position: relative; */
  /* margin-bottom: 30px; */
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.Landing-Image img {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  margin-top: 12px;
  object-fit: contain;
  /* position: absolute; */
}
.Creamy .Creamy-Item-Image {
  width: 243px;
  height: 213px;
  background-color: rgb(0, 0, 0);
  margin: 0 0 20px 0;
  position: relative;
}
.Creamy .col{
  margin-bottom: 50px;
}
.Creamy .Creamy-Item-Image img {
  /* width: 100%; */
  width: 243px;
  height: 213px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  transition: 0.2s;
  /* text-align: center; */
}
.Creamy .Creamy-Item-Image .btn {
  position: absolute;
  font-size: 16px;
  padding: 8px 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s 0.1s;
}
.Creamy .Creamy-Item-Image:hover .btn {
  opacity: 1;
}

.Creamy .Creamy-Item-Image img:hover {
  filter: brightness(0.3);
}
.Creamy .title {
  margin: 60px 0;
}

.Creamy-Item-Name {
  font-weight: bold;
  /* font-size: 14px; */
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.Creamy-Item-Category {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #888888;
}


.Creamy-Item-Price {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 4px;
  color: #000000;
}
